In [1]:
import pandas as pd
from utils import PgSQLConnector
from models import RetailDataUCI
import yaml

In [3]:
with open("secrets/creds.yaml",'r') as yml:
    conf = yaml.safe_load(yml)

In [4]:
with PgSQLConnector(conf) as pgsql:
    test_data = pgsql.db_session.query(RetailDataUCI).limit(10).all()

In [5]:
test_data

[<models.model.RetailDataUCI at 0x14d827b90b8>,
 <models.model.RetailDataUCI at 0x14d827b9748>,
 <models.model.RetailDataUCI at 0x14d827b9240>,
 <models.model.RetailDataUCI at 0x14d827b9518>,
 <models.model.RetailDataUCI at 0x14d82545dd8>,
 <models.model.RetailDataUCI at 0x14d82545b38>,
 <models.model.RetailDataUCI at 0x14d82545e80>,
 <models.model.RetailDataUCI at 0x14d82545940>,
 <models.model.RetailDataUCI at 0x14d82545748>,
 <models.model.RetailDataUCI at 0x14d82545550>]

In [7]:
test_data[0].__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x14d827b9080>,
 'price': 18.0,
 'quantity': 1,
 'stock_code': 'POST',
 'hash_key': '5c0ac5f2d7a9852209edc4209947a3be',
 'cust_id': 12481,
 'invoice_date': datetime.datetime(2010, 12, 9, 10, 13),
 'description': 'POSTAGE',
 'invoice': '537892',
 'country': 'Germany'}

In [8]:
with PgSQLConnector(conf) as pgsql:
    test_data_sel = pgsql.db_session.query(RetailDataUCI.invoice,
    RetailDataUCI.country).limit(10).all()

In [9]:
test_data_sel

[('538177', 'United Kingdom'),
 ('566787', 'United Kingdom'),
 ('538198', 'United Kingdom'),
 ('538201', 'United Kingdom'),
 ('538204', 'United Kingdom'),
 ('538241', 'United Kingdom'),
 ('538311', 'Portugal'),
 ('538313', 'United Kingdom'),
 ('538356', 'United Kingdom'),
 ('538369', 'United Kingdom')]

In [13]:
with PgSQLConnector(conf) as pgsql:
    df = pd.read_sql("SELECT * FROM retail_store limit 10",pgsql.engine)

In [14]:
df.head()

,invoice,stock_code,description,quantity,invoice_date,price,cust_id,country,hash_key
0,567184,35970,ZINC FOLKART SLEIGH BELLS,1,2011-09-18 15:41:00,1.69,16033.0,United Kingdom,1f510c446869cbefe70937a6cd5b9604
1,567211,23298,SPOTTY BUNTING,1,2011-09-19 11:02:00,4.95,14159.0,United Kingdom,ab7bb95f1387fbde95986c0bb16502a1
2,538566,90192,JADE DROP EARRINGS W FILIGREE,1,2010-12-13 11:21:00,5.09,NaN,United Kingdom,66be1f1106f32f320cf967549e65cc19
3,538625,21830,ASSORTED CREEPY CRAWLIES,24,2010-12-13 12:50:00,0.42,14544.0,United Kingdom,dbd7dd2c1fa1cad21c3e04a00877e95f
4,567363,23028,None,-49,2011-09-19 16:58:00,0.00,NaN,United Kingdom,f43e8b8ed588ab67bdf4d905ef39d0fb

In [19]:
with PgSQLConnector(conf) as pgsql:
    my_query = pgsql.db_session.query(RetailDataUCI).limit(10)
    qdf = pd.read_sql(my_query.statement,my_query.session.bind)

In [20]:
qdf.head()

,invoice,stock_code,description,quantity,invoice_date,price,cust_id,country,hash_key
0,567526,22625,RED KITCHEN SCALES,48,2011-09-21 09:06:00,7.65,12435.0,Denmark,49930cade0a39bdbc0234e5c28d498f6
1,567533,22652,TRAVEL SEWING KIT,10,2011-09-21 09:45:00,1.65,17651.0,United Kingdom,ff32d92b4a5ddb7717627d9238cd85f0
2,567552,POST,POSTAGE,3,2011-09-21 10:40:00,18.00,12583.0,France,4d9c16df1a2715e036b62be3b9a4bd46
3,567578,23445,ICE CREAM BUBBLES,20,2011-09-21 10:47:00,0.83,12701.0,Germany,29172a82503d484648321bc5cf2478c3
4,567616,C2,CARRIAGE,1,2011-09-21 12:23:00,50.00,14911.0,EIRE,f734608ffd976316e4899f80dcae7cd5

In [22]:
qdf['total_val'] = qdf.price * qdf.quantity

In [23]:
qdf.head()

,invoice,stock_code,description,quantity,invoice_date,price,cust_id,country,hash_key,total_val
0,567526,22625,RED KITCHEN SCALES,48,2011-09-21 09:06:00,7.65,12435.0,Denmark,49930cade0a39bdbc0234e5c28d498f6,367.2
1,567533,22652,TRAVEL SEWING KIT,10,2011-09-21 09:45:00,1.65,17651.0,United Kingdom,ff32d92b4a5ddb7717627d9238cd85f0,16.5
2,567552,POST,POSTAGE,3,2011-09-21 10:40:00,18.00,12583.0,France,4d9c16df1a2715e036b62be3b9a4bd46,54.0
3,567578,23445,ICE CREAM BUBBLES,20,2011-09-21 10:47:00,0.83,12701.0,Germany,29172a82503d484648321bc5cf2478c3,16.6
4,567616,C2,CARRIAGE,1,2011-09-21 12:23:00,50.00,14911.0,EIRE,f734608ffd976316e4899f80dcae7cd5,50.0